<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimeTable</title>
    
    <link rel="stylesheet" href="static/css/faculty_dashboard_css/timetable.css">
</head>
<body>
    <div class="container">
        <h2>TimeTable</h2>
        <table border="1" class="tbl">
            <tr>
                <th></th>
                <th>09:10 - 10:00</th>
                <th>10:00 - 10:50</th>
                <th>10:50 - 11:40</th>
                <th>11:40 - 12:30</th>
                <th>12:30 - 01:30</th>
                <th>01:30 - 02:20</th>
                <th>02:20 - 03:30</th>
                <th>03:10 - 04:00</th>               
            </tr>
            <tr>
                <td>MONDAY</td>
                <td></td>
                <td>CS-602</td>
                <td>CS-601</td>
                <td>AI-601</td>
                <td style ="border-bottom-style:none;">L</td>
                <td>AI-6031</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>TUESDAY</td>
                <td></td>
                <td>AI-602</td>
                <td colspan="2">LAB</td>
                <td style ="border-bottom-style:none;">U</td>
                <td>AI-6031</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>WEDNESDAY</td>
                <td></td>
                <td></td>
                <td>AI-602</td>
                <td>CS-601</td>
                <td style ="border-bottom-style:none;">N</td>
                <td>CS-602</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>THURSDAY</td>
                <td></td>
                <td>CS-601</td>
                <td>AI-6031</td>
                <td>CS-602</td>
                <td style ="border-bottom-style:none;">C</td>
                <td>AI-602</td>
                <td>AI-601</td>
                <td></td>
            </tr>
            <tr>
                <td>FRIDAY</td>
                <td></td>
                <td>AI-601</td>
                <td colspan="2">LAB</td>
                <td style ="border-bottom-style:none;">H</td>
                <td colspan="3">SEMINAR</td>
            </tr>
            <tr>
                <td>SATURDAY</td>
                <td></td>
                <td colspan="3">MINI PROJECT</td>
                <td></td>
                <td colspan="3">MINI PROJECT</td>
            </tr>
        </table>

    </div>
</body>
</html>