<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <!--Get your own code at fontawesome.com-->
    <link rel="stylesheet" href="static/css/admin_dashboard_css/viewTablefacultystyle.css">
    <script src="static/js/admin_dashboard_js/script.js"></script>
</head>
<body>
    <input type="checkbox" id="nav-toggle">
    {% include 'admin_dashboard/sidebar_template.html' %}
    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars"></span>
                </label>
                Dashboard
            </h2>
        </header>

                    <!-- <button>See all<span class="las la-arrow-right"></span></button> -->
                    <div class="form-container">
                        <div class="form-title" style="margin-bottom: 15px;">Faculty Details</div>
                        <table style="width:100%">
                            <tbody>

                                <tr>
                                    <td>
                                        Faculty ID:
                                    </td>
                                    <td>
                                        {{data_f.facultyId}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Degree :
                                    </td>
                                    <td>
                                        {{data_f.degree}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Specialization :
                                    </td>
                                    <td>
                                        {{data_f.specialization}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Experience :
                                    </td>
                                    <td>
                                        {{data_f.Experience}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Full Name :
                                    </td>
                                    <td>
                                        {{data_f.fullName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Currrent Post :
                                    </td>
                                    <td>
                                        {{data_f.Occupation}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Department :
                                    </td>
                                    <td>
                                        {{data_f.department}}
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Contact Number :
                                    </td>
                                    <td>
                                        {{data_f.ContactNumber}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Date of Birth :
                                    </td>
                                    <td>
                                        {{data_f.DOB}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Email :
                                    </td>
                                    <td>
                                        {{data_f.email}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Gender :
                                    </td>
                                    <td>
                                        {{data_f.gender}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Uploaded Photo
                                    </td>
                                    <td>
                                        <img id="join-image-preview" class="circular-img" src="{{ url_for('static', filename='uploaded/' + data_f.img) }}"  alt="StudentImage">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                    </div>
                    <footer>
                        <!-- footer -->
                    </footer>
<script src="https://kit.fontawesome.com/09ae4bf049.js" crossorigin="anonymous"></script>
</body>
</html>