<!-- ACTIVE MEMBERS ME STUDENT  CODE KE ANDR VIEW WALA CODE H-->
<!-- ACTIVE MEMBER -> VIEW FOR STUDENT  -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <!--Get your own code at fontawesome.com-->
    <link rel="stylesheet" href="static/css/admin_dashboard_css/viewTablefacultystyle.css">
    <script src="static/js/admin_dashboard_js/script.js"></script>

</head>
<body>
    <input type="checkbox" id="nav-toggle">
    {% include 'admin_dashboard/sidebar_template.html' %}
 <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars"></span>
                </label>
                Dashboard
            </h2>
        </header>
      
                    <!-- <button>See all<span class="las la-arrow-right"></span></button> -->
                        <div class="form-container">
                          <div class="form-title">Student Details</div>
                          
                          <!-- <div class="form-info">
                            <span class="form-label">Name:</span> {AJ singh}
                          </div>
                          <div class="form-info">
                            <span class="form-label">Father's Name</span> {Father Name}
                          </div>
                      
                            <div class="form-info">
                            <span class="form-label">Course</span> {Course}
                          </div>
                      
                            <div class="form-info">
                            <span class="form-label">Branch</span> {Branch}
                          </div>
                      
                          <div class="form-info">
                            <span class="form-label">Year</span> {Year}
                          </div>
                            <div class="form-info">
                            <span class="form-label">Date of Birth</span> {DOB}
                      
                            <div class="form-info">
                            <span class="form-label">Email</span> {Email}
                          </div>
                      
                            <div class="form-info">
                            <span class="form-label">Contact Number</span> {Number}
                          </div>
                      
                            <div class="form-info">
                            <span class="form-label">Gender</span> {Gender}
                          </div>
                      
                            <div class="form-info">
                            <span class="form-label">Student ID :</span> {iiiii}
                          </div>
                      
                            <img class="form-image" src="" alt="Photo">
                            
                        </div>   -->
                        <table style="width:100%">
                            <tbody>

                                <tr>
                                    <td>
                                        Name:
                                    </td>
                                    <td id="name-value">
                                       {{data_f.fullName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Father's Name 
                                    </td>
                                    <td id="father value">
                                        {{data_f.FatherName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td >
                                        Course:
                                    </td>
                                    <td id="course-value">
                                        {{data_f.Course}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Branch :
                                    </td>
                                    <td id="branch-value">
                                       {{data_f.Branch}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Year
                                    </td>
                                    <td id="year-value">
                                        {{data_f.Year}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Date of Birth
                                    </td>
                                    <td id="dob-value">
                                       {{data_f.DOB}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Email
                                    </td>
                                    <td id="mail-value">
                                        {{data_f.email_id}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Contact Number
                                    </td>
                                    <td id="contact-no">
                                        {{data_f.PhoneNumber}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Gender
                                    </td>
                                    <td id="gender-value">
                                       {{data_f.gender}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Student ID
                                    </td>
                                    <td id="student-id">
                                       {{data_f.StudentID}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Uploaded Photo
                                    </td>
                                    <td id="uploaded-img">
                                        <img id="join-image-preview" class="circular-img" src="{{ url_for('static', filename='uploaded/' + data_f.img) }}"  alt="StudentImage">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
 <script src="https://kit.fontawesome.com/09ae4bf049.js" crossorigin="anonymous"></script>
 </div>
</body>
</html>