<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script
      src="https://kit.fontawesome.com/520e53c076.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navigation">
      <div class="wrapper">
        <div class="logo"><a href="/">
          <div class="sidebar-brand">
            <h2><span class="lab la-accusoft"></span><span>Vision-Smart</span></h2>
        </div>
        </a></div>
        <input type="radio" name="slider" id="menu-btn" />
        <input type="radio" name="slider" id="close-btn" />
        <ul class="nav-links">
          <label for="close-btn" class="btn close-btn"
            ><i class="fas fa-times"></i
          ></label>
          <li><a href="/">Home</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li>
            <a href="/login" class="desktop-item">
              Log In
            </a>
             <input type="checkbox" id="showDrop" />
            <label for="showDrop" class="mobile-item">Log In</label>
            <ul class="drop-menu">
              <li><a href="/faculty_login">Faculty</a></li>
              <li><a href="/login">Student</a></li>
              <li><a href="/login_admin">Admin</a></li>
            </ul>
          </li>
        </ul>
        <label for="menu-btn" class="btn menu-btn"
          ><i class="fas fa-bars"></i
        ></label>
      </div>
    </nav>
    <div class="hero">
      <div class="body-text">
        <div id="head1" class="main-head">
          <div class="patterns">
            <svg>
              <text x="50%" y="90%" text-anchor="middle" fill="#f2dede" style="text-shadow: 0 0 5px #f2dede, 0 0 10px #f2dede, 0 0 15px #f2dede;">VISION</text>
            </svg>
          </div>
        </div>
        <div id="head2" class="sub-head"><h2>Smart Attendance</h2></div>
        <div id="head3" class="sub-head"><h2>System</h2></div>
        <div class="buttons">
          <div class="btn">
            <div class="dropdown">
              <button class="dropbtn button-86">Login</button>
              <div class="dropdown-content-signup">
                <a href="/faculty_login">Faculty</a>
                <a href="/login">Student</a>
                <a href="/login_admin">Admin</a>
              </div>
            </div>
          </div>
          <div class="btn">
            <div class="dropdown">
              <button class="dropbtn button-86">Sign Up</button>
              <div class="dropdown-content">
                <a href="/faculty_register">Faculty</a>
                <a href="/student_register">Student</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about-section">
      <div class="about-head">
        <h4>About</h4>
      </div>
      <div class="about-text">
        <div class="para" id="para">
          <p>
            Welcome to Vision, a smart attendance system where we're transforming
            the way schools and colleges handle attendance. Our mission is to make
            attendance tracking simple and efficient for educators worldwide.
            
  
            We understand the challenges faced by schools in managing attendance.
            That's why we've assembled a team of passionate individuals dedicated
            to improving the education system.
  
            Our system is designed to be user-friendly, providing teachers with
            valuable insights through easy-to-understand reports. Our goal is to
            help educators focus on what they do best – teaching. <br /><br/>
  
            Join us on our journey to revolutionize attendance management.
            Together, we can shape the future of education..
          </p>
        </div>
        <div class="robo-img">
          <img src="static/img/robo.png" alt="">
        </div>
      </div>
    </div>
        <div class="features">
      <h3>Features</h3>
      <div class="cards">
        <div class="card-single">
          <div class="icon">
            <i class="fa-solid fa-users-viewfinder"></i>
          </div>
          <div class="card-heading">
            <h1><strong>Automated Attendance</strong></h1>
            <span
              >Efficiently track attendance using face recognition
              technology.</span
            >
          </div>
          <div>
            <span class="las la-users"></span>
          </div>
        </div>
        <div class="card-single">
          <div class="icon">
            <i class="fa-solid fa-code-compare"></i>
          </div>
          <div class="card-heading">
            <h1><strong> Real-time Updates</strong></h1>
            <span>Receive instant updates on attendance status.</span>
          </div>
          <div>
            <span class="las la-user"></span>
          </div>
        </div>
        <div class="card-single">
          <div class="icon">
            <i class="fa-solid fa-layer-group"></i>
          </div>
          <div class="card-heading">
            <h1><strong> Data Management</strong></h1>
            <span
              >Efficiently manage and store attendance data and Ensure only
              authorized personnel can access attendance records.</span
            >
          </div>
          <div>
            <span class="las la-user"></span>
          </div>
        </div>

        <div class="card-single">
          <div class="icon">
            <i class="fa-solid fa-scroll"></i>
          </div>
          <div class="card-heading">
            <h1><strong>Reporting and Analytics </strong></h1>
            <span> Generate reports and analyze attendance trends.</span>
          </div>
          <div>
            <span class="las la-user"></span>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p>All Copyrights &COPY; Reserved</p>
    </footer>
  </body>
</html>
