
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="static/css/student_login.css">

</head>

<body>
    <form method="POST" action="">
        <div class="container">
            <div class="design">
                <div class="pill-1 rotate-45"></div>
                <div class="pill-2 rotate-45"></div>
                <div class="pill-3 rotate-45"></div>
                <div class="pill-4 rotate-45"></div>
            </div>
            <div class="login">
                <h3 class="title">Password Reset Request</h3>

                  {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <div class="flash-message" style="mergin-left:20px; color: #00FF00; animation: glow 1000ms ">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
                <div class="text-input">
                    <i class="ri-user-fill"></i>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
                </div>
                                <input type="submit" value="Submit" class="login-btn">

                 {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <div class="flash-message" style="mergin-left:20px; color: #00FF00; animation: glow 1000ms ">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
                 <div class="create">
                     <i class="ri-arrow-left-fill"></i>
            <a href="#" class="forgot"> <strong><a href="/faculty_login">Back to login</a></strong></a>

            </div>
            </div>
        </div>
    </form>
</body>

</html>